@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: #041D32;

  background: #FFFFFF;
  font-family:"Montserrat";
  font-size: 12px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-button-class{
  border-color: #3D9BE9;
}
.custom-button-class i {
  color: #3D9BE9;
}
.custom-button-class.active {
  background-color: #3d9be940;
}

.btn-success{
  border-color: #BADA55;
}
.btn-success i {
  color: #BADA55;
}
.btn-success.active {
  background-color: #bbda5549;
}

.btn-secondary{
  border-color: #2CE1CB;
}
.btn-secondary i {
  color: #2CE1CB;
}
.btn-secondary.active {
  background-color: #2ce1cc52;
}

.btn-warning{
  border-color: #FFD75C;
}
.btn-warning i {
  color: #FFD75C;
}
.btn-warning.active{
  background-color: #ffd65c49;
}

.btn-danger{
  border-color: #F25858;
}
.btn-danger i {
  color: #F25858;
}
.btn-danger.active {
  background-color: #f258584b;
}

.btn-warning2{
  border-color: #FDB03E;
}
.btn-warning2 i {
  color: #FDB03E;
}
.btn-warning2.active {
  background-color: #fdb13e4f;
}

.btn-secondary2{
  border-color: #D783FF;
}
.btn-secondary2 i {
  color: #D783FF;
}
.btn-secondary2.active {
  background-color: #d883ff4e;
}




input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 50%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 15px;
  background-color: white;
  border: 7px solid #FFD75C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -33px;
  margin-left: -1px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

